* {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main {
    background-image: url("/src/img/FUNDO_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-h20 {
    height: 20vh;
}

.custom-w7 {
    width: 7vw;
}

.custom-w60 {
    width: 60vw;
}

.custom-h2 {
    height: 2vh;
}

.custom-h65 {
    height: 65vh;
}

.color-green {
    color: #56CD42;
}

.bg-dark-green {
    background-color: #105718;
}

.custom-h15 {
    height: 15vh;
}

header input::placeholder {
    color: #56CD42;
    font-size: 7px;
}

footer p {
    color: #56CD42;
    margin-left: 5px;
}

footer span {
    color: white;
}

.fs-custom7 {
    font-size: 7px;
}

.fs-custom6 {
    font-size: 6px;
}

.custom-h13 {
    height: 13vh;
}

.custom-w80 {
    width: 80vw;
}

.bg-color-custom-green {
    background-color: #354338;
}

.image-profile img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.color-w {
    color: white;
}

.font-s {
    font-size: 9px;
}

.color-gray {
    color: #777978;
}

.scrol {
    overflow: hidden;
    overflow-y: scroll;
}

.container-h {
    height: 410px;
    overflow: hidden;
    overflow: scroll;
}

#cardPersonagem:hover{
    animation: hoverCard 0.5s forwards;
}

@keyframes hoverCard {
    0%{
        scale: 1;
    }
    100%{
        scale: 1.05;
    }
}

@media (min-width: 1500px) {
    header{
        height: 35vh !important;
    }
}
